<!DOCTYPE html>
{% load static %}
{% load socialaccount %}        <!--    로그인 관련 소셜 로그인 사용을 위한 내용 추가   -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[직업의 세계] {% block pageTitle %} {% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/default.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/single_pages.css' %}" media="screen" />
    <style>{% block pageStyle %} {% endblock %}</style>

    <script src="https://kit.fontawesome.com/9cc6c3f4c9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% block header_scripts %} {% endblock %}
    <script src="{% static 'scripts/subPage.js' %}"></script>
</head>
<body>
<div class="pageLayer">
    <header>
        <ul class="nav">
            <li><a href="/" class="logo">Home</a></li>
            <li class="menu"><a href="/jobList">어른들이 하는 일</a></li>
            <li class="menu"><a href="/jobInterest">나는 누구?</a></li>
            <li class="menu"><a href="/jobExperience">나도 해보기</a></li>
            <li class="menu"><a href="/futureJob">미래직업 연구</a></li>
            <li class="menu"><a href="/board/">궁금증 해결하기</a></li>
        </ul>
        <div class="loginBox">
            {% if user.is_authenticated %} 
                <img src="/static/images/icon_userDefault.png" class="icon small" /> '{{ user.username }}'님, 환영합니다!! 
                <a href="#" data-toggle="modal" data-target="#logoutModal">
                    <img src="/static/images/icon_login.png" class="icon mr" />
                </a>
                <!--    모달창이 아닌 페이지 로딩을  위한 코드(<a href="/board/logout/">[ Log Out ]</a>)에서 수정  -->
            {% else %} 
                <a href="#" data-toggle="modal" data-target="#loginModal">
                    <img src="/static/images/icon_logout.png" class="icon mr" /><!--  [ log Out ] -->
                </a>
            {% endif %} 
        </div>
    </header>

   

    <!--   로그아웃 실행시 모달창  -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">  <!--    모달의 대화 상자 형식을 지정    -->
            <div class="modal-content">             <!--    모달의 내용을 담는 컨테이너     -->
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-out-alt"></i>&nbsp; Log Out</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>정말로 로그아웃 하시겠습니까?</p>

                    <form method="post" action="/accounts/logout/">
                        {% csrf_token %}
                        <!--    input type="hidden" name="csrfmiddlewaretoken" value="1r60kyjGluoZI5rOz18uIn7yOOVP8SGFLAu4HZhFwRmHsYFxssnjP9cmmH7Zes74" -->
                        
                        <button type="submit">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--   로그인을 위한 기본 모달창  -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">  <!--    모달의 대화 상자 형식을 지정    -->
            <div class="modal-content">             <!--    모달의 내용을 담는 컨테이너     -->
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp; Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a role="button" class="btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}">
                        <i class="fab fa-google"></i> &#160; '구글' 계정으로 사이트를 이용할래요~
                    </a>
                    <a role="button" class="btn-outline-dark btn-block btn-sm" data-toggle="modal" data-target="#signUpModal">
                        <i class="far fa-envelope"></i> &#160; 가입시 만든 '애칭'으로 사이트를 이용할래요~
                    </a>
                    <!--    a role="button" class="btn-outline-dark btn-block btn-sm" href="/board/login/">
                        <i class="far fa-envelope"></i> &#160; 가입시 만든 '애칭'으로 사이트를 이용할래요~
                    </a -->
                    <a role="button" class="btn-outline-dark btn-block btn-sm" data-toggle="modal" data-target="#joinUsModal">
                        <i class="far fa-envelope"></i> &#160; 사이트에 가입하고 싶어요~
                    </a>
                    <!--    a role="button" class="btn-outline-dark btn-block btn-sm" href="/board/signup/">
                        <i class="far fa-envelope"></i> &#160; 사이트에 가입하고 싶어요~
                    </a -->
                </div>
            </div>
        </div>
    </div>

    <!--  애칭으로 로그인 실행시 모달창  -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">  <!--    모달의 대화 상자 형식을 지정    -->
            <div class="modal-content">             <!--    모달의 내용을 담는 컨테이너     -->
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp; '애칭'으로 사이트를 이용해요~</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="login" method="POST" action="/accounts/login/">
            
                        {% csrf_token %}
                        <!--    input type="hidden" name="csrfmiddlewaretoken" value="q2Yzkkq7sUVIx09AeaafTzKEbEyul8jW1LEtrUnNUKRfXrSwZnwvCly3Vgdl5Zsa" -->
                        <p>
                            <label for="id_login">나의 애칭 :</label>
                            <input type="text" name="login" placeholder="나의 애칭을 입력하세요!" required="required" id="id_login" />
                        </p>
                        <p>
                            <label for="id_password">비밀번호 :</label>
                            <input type="password" name="password" placeholder="비밀번호를 입력하세요!" required="required" id="id_password" />
                        </p>
                        <!--    p>
                            <label for="id_remember">Remember Me:</label>
                            <input type="checkbox" name="remember" id="id_remember" />
                        </p>
                        
                        <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a  -->
                        
                        <button class="primaryAction" type="submit">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--   회원가입 실행시 모달창  -->
    <div class="modal fade" id="joinUsModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">  <!--    모달의 대화 상자 형식을 지정    -->
            <div class="modal-content">             <!--    모달의 내용을 담는 컨테이너     -->
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp; 사이트에 가입해요~</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
                        {% csrf_token %}
                        <!--    input type="hidden" name="csrfmiddlewaretoken" value="ek27Pt4FSQxwXHzMa55ZGlmyeGri13oy9ziMh9gRoOtVvXLE3N5Mh5rhTwDNbPTE" -->
                    
                        <p>
                            <label for="id_email">메일주소 : </label>
                            <input type="email" name="email" placeholder="메일 주소를 입력하세요!" required="required" id="id_email" />
                        </p>
                        <p>
                            <label for="id_username">나의 애칭 : </label>
                            <input type="text" name="username" placeholder="사용하고픈 애칭을 입력하세요!" required="required" id="id_username" />
                        </p>
                        <p>
                            <label for="id_password1">비밀번호 : </label>
                            <input type="password" name="password1" placeholder="비밀번호를 입력하세요!" required="required" id="id_password1" />
                        </p>
                        <p>
                            <label for="id_password2">비밀번호(확인용) : </label>
                            <input type="password" name="password2" placeholder="동일한 비밀번호를 다시 입력하세요!" required="required" id="id_password2">
                        </p>
                        
                        <button type="submit">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block pageContent %} {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
{% block footer_scripts %} {% endblock %}
</body>
</html>