{% extends 'common/htmlTmp_based.html' %}{% load static %}
{% load crispy_forms_tags %}

{% block pageTitle %} 게시글 확인!! {% endblock %}

{% block pageStyle %} 
.pLayer {width:70%; padding:1em; margin:0.5em auto; overflow:hidden;}
.pLine  {border:2px solid #7c4c0e; border-radius:2em; background:#fff2bc;}

ul      {width:65%; margin:auto; overflow:hidden;}
ul li:first-of-type   {float:left; margin-left:1em;}
ul li:last-of-type    {float:right; margin-right:1em;}
ul li, .fileList  {font-size:1em; line-height:1.2em; color:#7c4c0e;}
ul li span, .fileList span  {display:inline-block; font-size:0.8em; letter-spacing:-1px; font-weight:bold; padding-right:0.5em;}

.contBox {text-align:center;}
.contBox img  {width:75%; max-width:750px;}
.contBox .contents {padding:1em 0; margin:0 auto 1em; }
.tagList {padding:1em 1em 0; text-align:left; border-top:1px dotted #7c4c0e;}

.tagList a, .fileList a {display:inline-block; margin-right:1em;}

.fileList   {width:70%; margin:auto; padding:0 0 2em 1em; color:#7c4c0e;}
.fileList span   {font-weight:bold;}

.btn    {
    float:right; margin:1em 16%; padding:0.5em 1em; color:#7c4c0e; 
    background:#ffb900; border-radius:1em; border-bottom:1px dotted #7c4c0e; 
}
.fileDown   {border-bottom:1px dashed #7c4c0e;}


.commentIn {width:70%; padding:0; margin:0 auto 0.5em; overflow:hidden;}
.commentIn h5   {width:70%; font-size:1.2em; color:#7c4c0e;}
#div_id_content {margin:0;}                         /* 장고 모델에서 기본으로 제공되는 textarea 영역 */
#div_id_content label {display:none;}               /* 장고 모델에서 기본으로 제공되는 label 내용 보이지 않게 처리 */
form button {border:1px solid #7c4c0e; padding:0.1em 1em; margin:0.5em 0; float:right; background:#fff2bc; border-radius:0.7em;}

.commentBox     {border:1px dashed #7c4c0e; border-radius:1em; margin-top:0;}
.commentBox .media-body {border-bottom:1px dotted #d6c0a3;}
.commentBox h5  {font-size:1em; color:#7c4c0e;}
.commentBox h5 small  {diaply:inline-block; font-size:0.8em; color:#7c4c0e; margin:0 1em;}
.commentBox a     {
    padding:0.1em 1em; margin:0.5em; float:right; font-size:0.9em; font-weight:normal;
    background:#fff2bc; border-radius:0.7em; border:1px dotted #7c4c0e;}

{% endblock %}

{% block pageScripts %}
<script>
    $(document).ready(function() {

    });
</script>        
{% endblock %}


{% block pageContent %}
    <h1>[{{ post.category }}] {{ post.title }}</h1>
        
    <!-- edit 버튼 -->
    {% if user.is_authenticated and user == post.author %}
        <a class="btn" href="/board/update_post/{{ post.pk }}/" role="button">글 수정하기</a>
    {% endif %}

    <ul>
        <li><span>작성시간 :</span>{{ post.created_at }}</li>
        <li><span>작성자 :</span>{{ post.author }}</li>
    </ul>
    <div class="pLayer pLine contBox">
        <!-- Image -->
        {% if post.head_image %}
            <img src="{{ post.head_image.url}}" alt="{{ post.title }} head_image" />
        {% else %}
            <img src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image" />
        {% endif %}

        <!-- Contents -->
        <div class="contents">{{ post.content | linebreaks }}</div>     <!--    줄바꿈 처리를 위해서는 'linebreaks' 추가  -->
                                                                        <!-- (추가하면 enter 칠때마다 내부적으로 <p>가 적용됨.)-->

        <!-- Tag List -->
        {% if post.tags.exists %}      <!-- 등록된 해시태그가 있을 때 적용 -->
            <p class="tagList">
                {% for tag in post.tags.all %}        <!-- 등록된 해시태그가 여러개일 수 있으니 받은 태그를 for문을 통해 반복적으로 뿌려줌 -->
                <i class="fas fa-tags"></i> <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <!-- Files -->
    {% if post.file_upload %}
    <div class="fileList">
        <span>Download :</span>
        <a href="{{ post.file_upload.url }}" class="fileDown" role="button" download>
            {% if post.get_file_ext == 'csv' %}
                <i class="fas fa-file-csv"></i>
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                <i class="fas fa-file-excel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                <i class="fas fa-rile-word"></i>
            {% endif %}

            {{ post.get_file_name }}
        </a>
    </div>
    {% endif %}

    <!--    comment     -->
    <div class="commentIn">
        <h5>Leave a Comment:</h5>
        {% if user.is_authenticated %}
            <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                {% csrf_token %}
                <div>{{ comment_form | crispy }}</div>
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <a role="button" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
        {% endif %}
    </div>
    
    {% if post.comment_set.exists %}
    <div class="pLayer commentBox">
        {% for comment in post.comment_set.iterator %}
            <!--    Single Comment  -->
            <div class="media mb-4" id="comment-{{ comment.pk }}">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" />
                <div class="media-body">
                    <h5>
                        {{ comment.author.username }}
                        <small>
                            {% if comment.created_at != comment.modified_at %}
                                최근 수정일: {{ comment.modified_at }}
                            {% else %}
                                작성일: {{ comment.created_at }}
                            {% endif %}
                        </small>
                    {% if user.is_authenticated and comment.author == user %}
                        <div class="float-right">
                            <a role="button" id="comment-{{ comment.pk }}-delete-modal-btn" href="#" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">삭제</a>
                            <!--    a role="button" id="comment-{{ comment.pk }}-update-btn" href="#" data-toggle="modal" data-target="#updateCommentModal-{{ comment.pk }}">수정</a    -->
                            <a role="button" id="comment-{{ comment.pk }}-update-btn" href="/board/update_comment/{{ comment.pk}}/">수정</a>
                        </div>
                        
                        <!--   [수정] 버튼 실행시 모달창  -->
                        <div class="modal fade" id="updateCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true"> 
                            <div class="modal-dialog" role="document">  <!--    모달의 대화 상자 형식을 지정    -->
                                <div class="modal-content">             <!--    모달의 내용을 담는 컨테이너     -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loginModalLabel">댓글을 수정할께요~</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" id="comment-form">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                            <br/>
                                            
                                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- [삭제] 버튼 실행시 모달창 -->
                        <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <del>{{ comment | linebreaks }}</del>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a role="button" class="btn-danger" href="/board/delete_comment/{{ comment.pk }}/">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </h5>
                    <p> {{ comment.content | linebreaks }}</p>      <!--    linebreaks : 줄바꿈을 <br/>로 바꿔줌 -->

                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}
